* {
	margin: 0;
	padding: 0;
}

body {
	background-position: center center;
    	background-repeat: no-repeat;
    	background-size: cover;
    	height: 100vh;
    	margin: 0;
    	display: grid;
}

.wrapper {
	width: 1850px;
	margin: auto;
}

header {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/homeBackGround.jpg);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
	margin-right: 70px;
}

	.nav-area li {
		display: inline-block;
	}

		.nav-area li a {
			color: #fff;
			text-decoration: none;
			padding: 5px 20px;
			font-family: 'Poppins', sans-serif;
			font-size: 16px;
			text-transform: uppercase;
		}

			.nav-area li a:hover {
				background: #fff;
				color: #333;
				transition: 3ms;
			}

.logo {
	float: left;
}

	.logo img {
		width: 100%;
	}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	transform: translate(-50%,-50%);
}

	.title h1 {
		color: #fff;
		font-size: 50px;
	}

.moto {
	position: absolute;
	top: 54%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.moto {
	position: absolute;
	top: 56%;
	left: 50%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 20px;
	letter-spacing: 2px;
}

.button {
	position: absolute;
	top: 62%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.playBtn {
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
	background-color: #003a86;
}

	.playBtn:hover {
		background-color: rgb(255, 255, 255);
		color: #000;
	}



html {
	scroll-behavior: smooth;
}

#section1 {
	height: 1200px;
	background-color: #fff;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/backGroundSec2.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.sec2 h1 {
	margin-left: 658px;
	font-size: 70px;
	color: rgb(156, 156, 156);
}

<<<<<<< HEAD
.sec2 p {
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-left: 650px;
	font-size: 24px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #fff;
=======
.ATG {
  margin: auto;
  width: 40%;
  border: 5px solid gray;
  padding: 10px;
   text-align: center;
   font-size: 24px;
   color: #fff;
   border-style: outset;
>>>>>>> 6533c045ea2e31305be2018551144a101af77ad2
}

.levelBorder {
  width: 8%;
  border: 3px solid gray;
  margin-left:280px;
  
}


.video {
	margin-top: -500px;
}

.size li {
	font-size: 30px;
	color: #fff;
	margin-left: 30px;
}

.size p {
	margin-top: 5px;
	margin-left: 30px;
	font-size: 22px;
	color: #fff;
	
}

video {
	margin-left: 1150px;
	margin-top: -50px;
}

/*support the pisition of the video*/
.videoPhoto {
	margin-left: 1300px;
	margin-top: -500px;
}

/*download section*/

#section2 {
	height: 565px;
	background-color: #fff;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/backGroundSec1.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.btn {
	background-color: #003a86;
	border: none;
	color: white;
	padding: 12px 30px;
	cursor: pointer;
	font-size: 20px;
}

	.btn:hover {
		background-color: #003a86;
		transition: 3s;
	}

.btn {
	margin-left: 1575px;
	margin-top: -50px;
}

.sec3 p {
	margin-left: 30px;
	margin-top: 8px;
	font-size: 22px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #fff;
	
}

.sec3 h1 {
	font-size: 70px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #b1b1b1;
	margin-left: 658px;
}

.sec3 h6 {
	margin-left: 30px;
	margin-top: 200px;
	color: #fff;
	font-size: 22px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.logoDownload {
	margin-left: 1550px;
	margin-top: -200px;
}

	